<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xd.modules.sys.mapper.CheckOpinionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xd.modules.sys.entity.CheckOpinion">
        <id column="id" property="id" />
        <result column="checker" property="checker" />
        <result column="checkTime" property="checkTime" />
        <result column="pass" property="pass" />
        <result column="opinion" property="opinion" />
        <result column="process_id" property="processId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, checker, checkTime, pass, opinion, process_id
    </sql>

</mapper>
