<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xd.modules.sys.mapper.EquipCheckMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xd.modules.sys.entity.EquipCheck">
        <id column="id" property="id" />
        <result column="equipName" property="equipName" />
        <result column="manufacturer" property="manufacturer" />
        <result column="informBill" property="informBill" />
        <result column="applyBill" property="applyBill" />
        <result column="recordBill" property="recordBill" />
        <result column="lackBill" property="lackBill" />
        <result column="addBill" property="addBill" />
        <result column="process_id" property="processId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, equipName, manufacturer, informBill, applyBill, recordBill, lackBill, addBill, process_id
    </sql>
    
    <resultMap id="withProAndOpi" type="com.xd.modules.sys.vo.EquipCheckVO">
        <collection property="equipCheck" ofType="com.xd.modules.sys.entity.EquipCheck">
            <id column="id" property="id" />
            <result column="equipName" property="equipName" />
            <result column="manufacturer" property="manufacturer" />
            <result column="informBill" property="informBill" />
            <result column="applyBill" property="applyBill" />
            <result column="recordBill" property="recordBill" />
            <result column="lackBill" property="lackBill" />
            <result column="addBill" property="addBill" />
            <result column="process_id" property="processId" />
        </collection>
        <collection property="problems" ofType="com.xd.modules.sys.entity.Problem">
            <id column="pid" property="id" />
            <result column="title" property="title" />
            <result column="type" property="type" />
            <result column="degree" property="degree" />
            <result column="start_time" property="startTime" />
            <result column="end_time" property="endTime" />
            <result column="warm_time" property="warmTime" />
            <result column="status" property="status" />
            <result column="scheme_text" property="schemeText" />
            <result column="scheme_file" property="schemeFile" />
            <result column="process_id1" property="processId" />
        </collection>
        <collection property="checkOpinions" ofType="com.xd.modules.sys.entity.CheckOpinion">
            <id column="cid" property="id" />
            <result column="checker" property="checker" />
            <result column="checkTime" property="checkTime" />
            <result column="pass" property="pass" />
            <result column="opinion" property="opinion" />
            <result column="process_id2" property="processId" />
        </collection>
    </resultMap>
    
    <select id="selectWithProAndOpi" resultMap="withProAndOpi" parameterType="String">
        select e.*,
        p.id pid, p.title, p.type, p.degree, p.start_time, p.end_time, p.warm_time, p.status, p.scheme_text, p.scheme_file, p.process_id process_id1,
        c.id cid, c.checker, c.checkTime, c.pass, c.opinion, c.process_id process_id2
        from sys_equip_check e
        left join sys_problem p on e.process_id = p.process_id
        left join sys_check_opinion c on e.process_id = c.process_id
        where e.process_id = #{processId,jdbcType=VARCHAR}
    </select>

</mapper>
