<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xd.modules.sys.mapper.ProblemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xd.modules.sys.entity.Problem">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="type" property="type" />
        <result column="degree" property="degree" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="warm_time" property="warmTime" />
        <result column="status" property="status" />
        <result column="scheme_text" property="schemeText" />
        <result column="scheme_file" property="schemeFile" />
        <result column="process_id" property="processId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, title, type, degree, start_time, end_time, warm_time, status, scheme_text, scheme_file, process_id
    </sql>

</mapper>
